#perfil-template-c748bb {
    background: #f1ead6;
    padding: 3rem 0;
    .menu-hamburguesa-family-tree{
        cursor: pointer;
        display: none;
        span > hr{
            margin:.5rem;
            width: 30px;
            color:#5e6464;
            border: 1px solid #5e6464;
            opacity: .7;
        }
    }
    section{
        display: flex;
        .menu-perfil{
            width: 15%;
        }
        .content-forms{
            width: 85%;
            position: relative;
            .content-next-prev{
                display: flex;
                justify-content: space-around;
                padding: 0 1rem;
                position: absolute;
                bottom: .5rem;
                a{
                    color:#5e6464;
                    text-decoration: none; 
                    font-family: 'Montserrat-Regular', sans-serif;
                }
            }
            .content-next-prev.next{
                display: block;
                text-align: right;
                right: 20%;
            }
            .content-next-prev.prev{
                display: block;
                text-align: left;
                left: 20%;
            }
        }
        @media(max-width:768px){
            display: block;
            .menu-perfil{
                width: 100%;
                position: absolute;
                background: #f1ead6;
                display: none;
                z-index: 100;
                box-shadow: 0 3px 3px 0 #777;
            }
            .content-forms{
                width: 100%;
                .content-next-prev{
                    text-align: center;
                }
            }
        }
        @media(max-width:720px){
            
            .content-next-prev, .content-next-prev.prev, .content-next-prev.next{
                text-align: center !important;
                position: relative !important;
                left: 0 !important;
                right: 0 !important;
            }
        }
    }
    @media(max-width:768px){
        .menu-hamburguesa-family-tree{
            display: block;
        }
    }
    .btn-submit-form{
        position: relative;
        z-index: 100;
    }
}