#proceso-template-037af5 {
    background:#5e6464;
    .title{
        color:#f2ebd7;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 700;
    }
    .content-process{
        .image-process{
            max-width: 124px;
            width: 100%;
        }
        .information{
            h3{
                color:#f2ebd7;
                font-family: 'Montserrat-Bold', sans-serif;
                margin-bottom: 20px;
            }
            p{
                color:#f2ebd7;
                font-family: 'Montserrat-Light', sans-serif;
                line-height: 2;
            }
        }
        @media(max-width:768px){
            .content-image, .information{
                text-align: center;
            }
        }
    }
}